<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
 
 <!--only one time configure the mathcheat object and give ref to the class-->
 <bean id="cheatObjref" class="com.bridgelabz.DependencyInjection.injectingobject.MathCheat"></bean> 
   
 <bean id="stud" class="com.bridgelabz.DependencyInjection.injectingobject.Student">
 <property name="id" value="1000"/> 
 
 

 <!--configuration of the same file MathCheat two times  -->
 <property name="mathCheat" ref="cheatObjref"/>
<!--  <bean class="com.bridgelabz.DependencyInjection.injectingobject.MathCheat"></bean> -->
<!--  </property> -->
 </bean>
 
 <bean id="newstud" class="com.bridgelabz.DependencyInjection.injectingobject.NewStudent">
 
 <property name="cheat" ref="cheatObjref"/>
 <!-- <bean class="com.bridgelabz.DependencyInjection.injectingobject.MathCheat"></bean> -->
 <!-- </property> -->
 
 </bean>
 
 
   </beans>